<div class="info">
    <div class="pt-4">
        <div class="active-color">
            <div class="w-90 nav-link">
                <fa-icon [icon]="dashIcon" class="pt-2 ml-2"></fa-icon>
                <span class="text ml-3">
                    Dashboard
                </span>
            </div>
        </div>
        <div class="mt-2 active-color">
            <div class="nav-link w-90">
                <fa-icon [icon]="eventIcon" class="pt-2 ml-2"></fa-icon>
                <span class="text ml-3">
                    Evento
                </span>
            </div>
        </div>
    </div>
    <hr class="line">
    <div class="mt-3 pt-2">
        <div class="mt-2 active-color">
            <div class="nav-link w-90">
                <fa-icon [icon]="velIcon" class="pt-2 ml-2"></fa-icon>
                <span class="text ml-3">
                    Velocidad
                </span>
            </div>
        </div>
        <div class="mt-2 active-color">
            <div class="nav-link w-90">
                <fa-icon [icon]="vibraIcon" class="pt-2 ml-2"></fa-icon>
                <span class="text ml-3">
                    Vibración
                </span>
            </div>
        </div>
    </div>
    <hr class="line">
    <div class="mt-3 pt-2">
        <div class="mt-2 active-color">
            <div class="nav-link w-90">
                <fa-icon [icon]="configIcon" class="pt-2 ml-2"></fa-icon>
                <span class="text ml-3">
                    Configuracion
                </span>
            </div>
        </div>
    </div>
</div>