.form-container{
  margin-top: 6rem;
  height: 91%;
  @media (min-width: 770px){
    //margin-left: 3rem;
  }
    .text-color{
        color: silver;
    }
    .ml-mx{
        margin-left: 212px;
    }
    .textPri{
        font-weight: bold;
    }
    .intpusRads{
        border-radius: 0;
    }
    .textInter{
        font-size: 10px;
    }
    .w-80{
        width: 79%;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 31px;
        height: 16px;
    }
    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 25px;
        width: 23px;
        right: 22px;
        bottom: -3px;
        background-color: #2196f3;
        transition: 0.4s;
      }
      
      input:checked + .slider {
        background-color: rgb(33 150 243 / 40%);
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px rgb(33 150 243 / 40%);
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}