
.list{
    .table{
        .color-but{
            background: rgb(197 244 124 / 46%);
            color:green;
        }
        .text-table{
            font-size: 9px;
            @media (min-width: 770px){
                font-size:15px;
            }
        }
        .disp-img{
            position: relative;
            .img-table{
                border-radius: 100%;
                position: absolute;
            }
            .frist{
                left: 0px;
                @media (min-width: 770px){
                    left: 10px;
                }
            }
            .mov{
                left: 10px;
                @media (min-width: 770px){
                    left: 21px;
                }
            }
            .mov-th{
                left: 17px;
                @media (min-width: 770px){
                    left: 34px;
                }
            }
        }
    }
    .buttonFilter{
        width: 25%;
        font-size: 10px;
        border: solid 1px #eaeaea;
        @media (min-width:770px) {
            font-size:15px;
            width: 17%;
        }
    }
}
.mg-t{
    @media (min-width: 770px){
        margin-left: 12px;
    }
}