/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng2-smart-titles{
    background: #f8f9fa;
}
a.ng2-smart-sort-link.sort{
    color: black;
}